In [1]:
range (0,20)

range(0, 20)

In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
    print(num, end=" ")

19

In [4]:
for num in range(0,20):
    print(num, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [5]:
List2 =[10, 20, 14, 55, 43, 87, 76]
print (List2)

[10, 20, 14, 55, 43, 87, 76]

In [6]:
print("Number of Item in the List2:", len(List2))

Number of Item in the List2: 7

In [7]:
text = "Artificial Intelligence"
for i in text:
    print(i)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [9]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [10]:
tup = (1, 'Welcome', 2, 'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [11]:
Tuple1 =(0,1,2,3) 
Tuple2 = ('Python', 'Hope')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [18]:
list1 = [20,10,16,19,25,1,276,188]

for i in list1:    
    if i%2 != 0:
        print(i, "is odd ")

19 is odd number
25 is odd number
1 is odd number

In [19]:
list1 = [20,10,16,19,25,1,276,188]

for i in list1:    
    if i%2 == 0:
        print(i, "is even ")

20 is even
10 is even
16 is even
276 is even
188 is even